.CardItem {
    width: 400px;
    padding: 20px;
    margin: 20px;
    font-size: 12px;
    background-color: rgba(122, 149, 236, 0.199);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.Button {
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: #8C30F5;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
 }

.ItemImg {
    margin: 20px;
    width: 200px;
    height: auto;
    object-position: center;
}