.CardItem {
    width: 150px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: rgba(122, 149, 236, 0.644);
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
}

.Info {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.ButtonDetail {
    width: auto;
    padding: 8px;
    font-size: 12px;
    background:  #0096c7;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    
}

.ItemImg {
    width: 200px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.ItemFooter {
    display: flex;
    justify-content: center;
}