.NavBar {
    display: flex;
    background: transparent;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: rgba(221, 220, 220, 0.527);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  .Tittle{
    text-decoration: none;
    color: #0096c7;
    display: flex;
    font-size: 2rem;
    align-items: center; }
    .Tittle:hover {
      color: #5a91df; }


  
  .Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Option {
    text-decoration: none;
    border-radius: 10;
    margin: 0 25px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: #0096c7;
    border-radius: 5px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .ActiveOption {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 10;
    margin: 0 25px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: #5a91df;
    border-radius: 5px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }